*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: linear-gradient(135deg, #74b9ff,#a29bfe);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
.form-card{
    background: #ffffff ;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0, 0, 0.15);
    width: 100%;
    text-align: center;
}
.form-card h2{
    margin-bottom: 25px;
    color: #2d3436;
    font-size: 24px;
}
.input-box{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-box label{
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: #636e72;
    font-weight: 600;
    text-align: centre;
}
.input-box input,
.input-box textarea{
    width: 100%;
    padding: 12px;
    border: 2px solid #dfe6e9;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    text-align: centre;
    transition: border-color 0.3s ease;
}
.input-box input:focus,
.input-box textarea:focus {
    border-color: #6c5ce7;
}
.btn{
    width: 100%;
    padding: 14px;
    background-color: #6c5ce7;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease;
}
.btn:hover{
    background-color: #5b4cc4;
}